/* Reset en basisinstellingen */
* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  background: linear-gradient(#365b6d, #289dd2);
  font-family: 'Audiowide', 'Geo', 'Orbitron', 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* Logo in de hoek */
.logoimg {
  position: absolute;
  top: 1em;
  left: 1em;
  width: 190px;
  filter: drop-shadow(0px 5px 15px #41c1ba);
  z-index: 10;
}

/* Hoofdtitel */
#msgBox {
  text-align: center;
  font-size: 3.5em;
  color: white;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 1em;
}

/* Subtekst */
#smallMsg {
  font-size: 1em;
  color: white;
  opacity: 0.6;
  margin-top: 1em;
  text-align: center;
}

/* Spelbord container */
#container {
  display: grid;
  grid-template-columns: repeat(5, 6em);
  gap: 0.4em;
  justify-content: center;
  flex: none;
}

/* Cellen */
.cell {
  width: 3em;
  height: 3em;
  padding: 0.5em;
  font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  border-radius: 8px;
  border: 2px solid #f2f1ec;
  background-color: #41c1ba;
  color: #fbfcfd;
  box-shadow: 0 0 10px #140f41;
  text-shadow: 0 0 5px #140f41;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s ease, background-color 0.3s ease;
  cursor: pointer;
  user-select: none;
}

.cell:hover {
  background-color: #37bab4;
  transform: scale(1.1);
}

/* Status kleuren */
.correct {
  background-color: #468e46;
  color: white;
}

.wrongplace {
  background-color: #d3ac42;
  color: white;
}

.incorrect {
  background-color: #2d637f;
  color: white;
}

/* Knoppen */
#play-again-container {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Voeg ruimte toe boven de knop */
}

button {
  background: #41c1ba;
  padding: 10px 20px;
  font-size: 1.2em;
  border-radius: 10px;
  border: 1px solid #f2f1ec;
  color: white;
  box-shadow: 0 0 5px 0px #140f41;
  transition: all 0.3s ease;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
  box-shadow: 0 0 10px #ffffff
}
/* Zichtbaarheid helpers */
.invisible {
  display: none;
}

.visible {
  display: block;
}
