* {
  box-sizing: border-box;
}

body {
height: 100vh;
background: linear-gradient(#365b6d, #289dd2);
background-size: cover;
background-repeat: repeat;
font-family: 'Audiowide', 'Geo', 'Orbitron', 'Roboto', sans-serif;
align-items: center;
justify-content: center;
overflow: hidden;
}



.invisible {
display: none;
}

.visible {
display: block;
}

button {
position: absolute;
left: 25.8%;
top: 47.8%;
background: #41c1ba;
height: 7%;
aspect-ratio: 1 / 0.3;
font-size: 1.6cqh;
border-radius: 10px;
box-shadow: 0 0 5px 0px #140f41;
color: white;
text-align: center;
color: white;
transition: background-color 0.3s ease, opacity 0.3s ease, transform 0.4s ease, color 0.3s ease;
border: 1px solid #f2f1ec;
}

button:hover {
  background-color: #41c1ba;
  opacity: 0.9;
  transition: background-color 0.3s ease, opacity 0.3s ease, transform 0.4s ease, color 0.3s ease;
  box-shadow: 0 0 10px 0px #ffffff;
  color: white;
  }

@media screen and (max-width: 480px) {
#msgBox {
  font-size: 2.5em;
}
}

#msgBox {
  text-align: center;
  font-size: 2cqw;
  font-family: 'Audiowide', 'Geo', 'Orbitron', 'Roboto', sans-serif;
  position: absolute;
  right: 44%;
  top: 7%;
  color: white;
  width: 30%;
}

#smallMsg {
  position: absolute;
 font-size: 1.5cqw;
  display: block;
  font-family: 'Audiowide', 'Geo', 'Orbitron', 'Roboto', sans-serif;
  color: white;
  text-align: center;
  left: 25%;
  top: 85%;
  width: 50%;
  opacity: 0.4;
}

.itemcontainer {
  position: relative;
  position: absolute;
  right: 3%;
  top: 0;
  width: 50%;
  aspect-ratio: 1 / 1;
}

.itemcontainer1 {
  position: relative;
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  aspect-ratio: 1 / 1;
}

@media screen and (max-width: 480px) {
#msgBox {
  font-size: 2.5em;
}
}

#guess {
  position: absolute;
border-radius: 15px;
text-align: center;
color: white;
transition: background-color 0.3s ease, opacity 0.3s ease, transform 0.4s ease, color 0.3s ease;
border: 1px solid #f2f1ec;
box-shadow: 0 0 10px 0px #140f41;
font-weight: bold;
font-size: 20px;
font-family: 'Audiowide', 'Geo', 'Orbitron', 'Roboto', sans-serif;;
padding: 5px;
width: 50%;
max-width: 330px;
aspect-ratio: 1 / 0.3;
position: absolute;
top: 25%;
left: 15%;
background: linear-gradient(#289dd2, #365b6d);
-webkit-filter: drop-shadow(0px 5px 5px #41c1ba);
filter: drop-shadow(0px 5px 15px #41c1ba);
}

#guess:hover {
background: linear-gradient(#365b6d, #289dd2);
opacity: 0.9;
transition: background 0.3s ease, opacity 0.3s ease, color 0.3s ease;
box-shadow: 0 0 10px 0px #ffffff;
color: white;
border-radius: 5px;
}

#guess:active {
transition: background-color 0.1s ease;
transform: scale(0.95);

}



#container {
position: absolute;
width: 40%;
left: 0;
top: 0;
aspect-ratio: 1 / 1;
margin-left: 10%;
padding-top: 8%;
overflow: hidden;
}

.correct {
background: rgb(70, 142, 70)
}

.wrongplace {
background: #d3ac42;
}

.wrongword {
  background: red;
}

.default {
background: #41c1ba;
}

#row1, #row2, #row3, #row4, #row5 {
  width: 95%;
  height: 20%;
  container-type: size;
}

.square {
margin-left: 2%;
border-radius: 5px;
display: inline-flex;
width: 14%;
max-height: 90%;
aspect-ratio: 1 / 1;
padding-left: 1.9%;
font-size: max(11cqw, 11cqh);
font-family: 'Audiowide', 'Geo', 'Orbitron', 'Roboto', sans-serif;
box-shadow: 0 0 5px 0px #140f41;
vertical-align: middle;
border: 1px solid #f2f1ec;
transition: transform 0.3s ease;
-webkit-filter: drop-shadow(0px 5px 5px #41c1ba);
filter: drop-shadow(0px 5px 5px #41c1ba);
}

.square:hover {
  opacity: 0.9;
  transform: scale(105%);
  transition: background-color 0.3s ease, opacity 0.3s ease, transform 0.3s ease, color 0.3s ease;
  cursor: arrow;
}

.logoimg {
  position: fixed;
  top: 0%;
  right: 25.5%;
  width: 15%;
  -webkit-filter: drop-shadow(0px 5px 5px #41c1ba);
  filter: drop-shadow(0px 5px 30px #41c1ba);
}

.uitleg {
  overflow-y: scroll;
  position: absolute;
  top: 51%;
  left: 15%;
  width: 80%;
  aspect-ratio: 1 / 0.5;
  max-width: 450px;
  border: 1px solid white;
  box-shadow: 0 0 10px 0px #140f41;
}

.uitleg.active {
  left: 15%;
}

#uitlegtekst {
  margin-left: 2%;
  list-style-type: none;
  white-space: pre-line;
}

.hint {
  text-align: center;
  font-size: 1.1cqw;
  position: absolute;
  width: 50%;
  top: 60%;
  left: -300%;
  aspect-ratio: 1 / 0.2;
  border: 1px solid white;
  box-shadow: 0 0 10px 0px #140f41;
}
/* test */
.hint.active {
  left: 15%;
}

.hintknop {
  padding-top: 1.5%;
  position: absolute;
  top: 42%;
  left: 300%;
  text-align: center;
  width: 10%;
  aspect-ratio: 1 / 0.5;
  background-color: #41c1ba;
  box-shadow: 0 0 5px 0px #140f41;
  color: white;
  border: 1px solid #f2f1ec;
  border-radius: 10%;
  z-index: 1000;
}

.hintknop.active {
  left: 32%;
}

.rood {
  font-size: 5cqw;
  color: red;
  font-weight: bold;
}

.profielfoto {
  width: 15%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background-color: #f2f1ec;
  z-index: 200;
  position: absolute;
  top: 5%;
  right: 0%;
  overflow: hidden;
}

#profielplaatje {
  height: 120%;
  aspect-ratio: 1 / 1;
  position: absolute;
  left: -10%;
}